<img src="../public/assets/img/alt" alt="TastyBurgerImage">
<h1>Eat-Da-Burger!</h1>

{{!-- loop through burgers database:
(id. name) (Devour It button changes eaten status) --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>


{{!-- loop to display status "eaten" --}}

<textarea name="new-burger" id="insert-burger" cols="30" rows="10"></textarea>
<button>Submit</button>
<p>Enter A Burger You'd Like to Eat & Click "Submit"</p>