<img src="../public/assets/img/alt" alt="TastyBurgerImage">
<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<form class="creation-form">    
    <textarea name="name" id="name" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
    <p>Enter A Burger You'd Like to Eat & Click "Submit"</p>
</form>
