<img src="../public/assets/img/alt" alt="TastyBurgerImage">
<h1>Eat-Da-Burger!</h1>

{{!-- loop through burgers database:
(id. name) (Devour It button deletes from database or changes eaten status) --}}

<textarea name="new-burger" id="insert-burger" cols="30" rows="10"></textarea>
<button>Submit</button>
<p>Enter A Burger You'd Like to Eat & Click "Submit"</p>